<template>
    <v-dialog
        v-model="registerDialog"
        scrollable
        persistent :overlay="false"
        max-width="500px"
        min-width="350px"
        transition="dialog-transition"
    >
        <v-btn dark accent slot="activator">
            {{ userIsRegistered ? 'Unregister' : 'Register' }}
        </v-btn>
        <v-card>
            <v-container>
                <v-layout row wrap>
                    <v-flex xs12>
                        <v-card-title v-if="userIsRegistered">Unregister from Matchmaking?</v-card-title>
                        <v-card-title v-else>Register for Matchmaking?</v-card-title>
                    </v-flex>
                </v-layout>
                <v-divider></v-divider>
                <v-layout row wrap>
                    <v-flex xs12>
                        <v-card-text>
                            You can always change your decision later on.
                        </v-card-text>
                    </v-flex>
                </v-layout>
                <v-layout row wrap>
                    <v-flex xs12>
                        <v-card-actions>
                            <v-btn dark @click="registerDialog = false">Cancel</v-btn>
                            <v-btn dark @click="onAgree">Confirm</v-btn>
                        </v-card-actions>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-card>
    </v-dialog>
</template>

<script>
export default {
    props: ['matchmakingId'],
    data() {
        return {
            registerDialog: false
        }
    },
    computed: {
        userIsRegistered () {
            return this.$store.getters.user.registeredMatchmakings.findIndex(matchmakingId => {
                return matchmakingId === this.matchmakingId
            }) >= 0
        }
    },
    methods: {
        onAgree () {
            if (this.userIsRegistered) {
                this.$store.dispatch('unregisterUserForMatchmaking', this.matchmakingId)
            } else {
                this.$store.dispatch('registerUserForMatchmaking', this.matchmakingId)
            }
        }
    }
}
</script>
