<template>
    <v-dialog
        v-model="editDialog"
        scrollable
        persistent :overlay="false"
        max-width="500px"
        min-width="350px"
        transition="dialog-transition"
    >
        <v-btn dark accent slot="activator">
            Edit Time
        </v-btn>
        <v-card>
            <v-container>
                <v-layout row wrap>
                    <v-flex xs12>
                        <v-card-title>
                            Edit Matchmaking Time
                        </v-card-title>
                    </v-flex>
                </v-layout>
                <v-divider></v-divider>
                <v-layout row wrap>
                    <v-flex xs12>
                        <v-time-picker v-model="editableTime" style="width: 100%" actions>
                            <template slot-scope="{save, cancel}">
                                <v-btn
                                class="blue--text darken-1"
                                flat
                                @click.native="editDialog = false">Close</v-btn>
                                <v-btn
                                class="blue--text darken-1"
                                flat
                                @click.native="onSaveChanges">Save</v-btn>
                            </template>
                        </v-time-picker>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-card>
    </v-dialog>
</template>

<script>
export default {
    props: ['matchmaking'],
    data () {
        return {
            editDialog: false,
            editableTime: this.matchmaking.time,
        }
    },
    methods: {
        onSaveChanges () {
            this.$store.dispatch('updateMatchmakingData', {
                id: this.matchmaking.id,
                time: this.editableTime
            })
        }
    },
}
</script>
